body{
   display: flex;
   border: 8px solid black;
   min-height: 800px;
   flex-direction: column-reverse;

}

.box{
   height: 100px;
   width: 100px;
   background-color: aqua;
   font-size: 40pt;
}