body{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
    flex-direction: row;
    min-height: 500px;
    gap: 40px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    background-color: rgb(79, 129, 194);
    color: white;
    border: 5px solid rgb(42, 187, 172);
    border-radius: 20%;
    height: 100px;
}